* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-background-colour: #f9faf8;
  --hero-footer-background-colour: #1f2937;
  --hero-main-text-colour: #f9faf8;
  --hero-secondary-text-colour: #e5e7eb;
  --header-logo-text-colour: #f9faf8;
  --call-to-action-button-colour: #3882f6;
  --information-header-quote-text-colour: #1f2937;
  --quote-background-colour: #e5e7eb;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--main-background-colour);
}

header {
  background-color: var(--hero-footer-background-colour);
}

section {
  padding: 5% 10%;
}

.navbar {
  display: flex;
}

.header-logo {
  flex: 3;
  font-size: 24px;
  font-weight: bold;
  color: var(--header-logo-text-colour);
}

nav {
  flex: 1;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

nav ul li {
  flex: 1;
  display: inline-block;
}

a {
  color: var(--hero-secondary-text-colour);
  text-decoration: none;
}

nav ul li a {
  color: var(--hero-secondary-text-colour);
  text-decoration: none;
  font-size: 18px;
}

.hero {
  display: flex;
  gap: 25px;
}

.hero-text {
  flex: 1;
}

.hero-main-text {
  font-size: 48px;
  font-weight: bolder;
  color: var(--hero-main-text-colour);
}

.hero-secondary-text {
  color: var(--hero-secondary-text-colour);
  font-size: 18px;
}

.sign-up-btn {
  display: inline-block;
  background-color: var(--call-to-action-button-colour);
  border-radius: 5px;
  margin: 25px 0;
  padding: 10px 20px;
  color: var(--hero-main-text-colour);
}

.hero-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--hero-secondary-text-colour);
}

.hero-image-text {
  flex: 1;
  display: inline-block;
  text-align: center;
  color: var(--information-header-quote-text-colour);
}

.info-header {
  font-size: 36px;
  font-weight: bold;
  color: var(--information-header-quote-text-colour);
  text-align: center;
}

.info-container {
  display: flex;
  flex-direction: row;
}

.info-card {
  flex: 1;
  padding: 5%;
  border-radius: 10px;
}

.info-img {
  width: 100%;
  min-height: 150px;
  border-radius: 10px;
  border: var(--call-to-action-button-colour) 2px solid;
}

.info-text {
  text-align: center;
  color: var(--information-header-quote-text-colour);
  margin: 5px 0;
}

.quote-container {
  background-color: var(--quote-background-colour);
  padding: 10% 20%;
}

.quote {
  font-weight: 300;
  font-size: 36px;
  font-style: italic;
  color: var(--information-header-quote-text-colour);
}

.quote-author {
  font-weight: bold;
  text-align: right;
}

.action-container {
  margin: 5% 10%;
  background-color: var(--call-to-action-button-colour);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.action-left {
  flex: 2;
}

.action-heading {
  font-size: 24px;
  font-weight: bold;
  color: var(--hero-main-text-colour);
}

.action-text {
  font-size: 18px;
  color: var(--hero-secondary-text-colour);
}

.action-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-btn {
  flex: 1;
  padding: 10px 20px;
  border: var(--main-background-colour) 2px solid;
  border-radius: 5px;
  color: var(--hero-main-text-colour);
  display: inline-block;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  background-color: var(--hero-footer-background-colour);
}

.footer-text {
  color: var(--hero-main-text-colour);
}
